.element__like {
    background: url(../../../images/heart-icon.svg) no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.element__like:hover {
    opacity: 0.6;
    transition: .3s;
}

.element__like:active {
    fill: #000;
}