.button-edit {
    max-width: 24px;
    background-color: #000;
    display: inline;
    border: 0;
    padding: 0;
    margin-left: 18px;
    cursor: pointer;
    align-self: end;
    margin-bottom: 5px;
}

.button-edit:hover {
    opacity: 0.6;
    transition: .3s;
}

@media screen and (max-width: 768px) {
    .button-edit {
        font-size: 14px;
        align-self: center;
        margin-bottom: -14px;
    } 
}