.logo {
    max-width: 142px;
    padding: 45px 0 41px;
}

@media screen and (max-width: 900px) {
    .logo {
        max-width: 104px;
        margin-left: 27px;
    } 
}

@media screen and (max-width: 320px) {
    .logo {
        padding: 28px 0 31px;
    } 
}