.popup__close {
    background: url(../../../images/close-icon.svg) no-repeat center;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: visibility 0s, opacity 0.8s ease;
    box-sizing: border-box;
}

.popup__close:hover {
    opacity: 0.6;
    transition: .3s;
}

@media screen and (max-width: 768px) {
    .popup__close {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    } 
}