.profile__description {
    max-width: 336px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    grid-area: profile__description;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .profile__description {
        font-size: 16px;
    } 
}

@media screen and (max-width: 768px) {
    .profile__description {
        font-size: 14px;
        align-self: center;
    } 
}